// Utility classes
.main-blue {
	color: $main-blue;
}
.uppercase {
	text-transform: uppercase;
}
.alert {
	color: map_get($foundation-palette, alert);
}
.section-title {
	font-size: 2.375rem;
	line-height: 2.375rem;
	margin-bottom: rem-calc(54);
	color: $medium-gray;;
	text-transform: uppercase;
	font-family: 'Vollkorn', $header-font-family;
}


// HEADER - Front page

header#front-hero {
	//width: 120rem;
	height: 40rem;
	opacity: 0.8;
	background-color: black;
	background-image: linear-gradient(242deg, #307c95 0%, #3b2b6a 100%);
}
.header-content {
	//background: red;
}
.tagline {
	//background: blue;
	text-align: center;
	.title-content {
		margin-top: 3rem;
	}
	.title-content-hanger {
		opacity: 0.7;
		color: $white;
		font-family: 'Merriweather', $body-font-family;
		font-size: 1rem;
		font-weight: 300;
		line-height: 5rem;
		letter-spacing: 2px;
		position: relative;
		bottom: -60px;
	}
	h1 {
		color: #58eeff;
		font-family: 'Ubuntu', $body-font-family;;
		font-size: 4.5rem;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
	}
	h3 {
		font-family: 'Signika', $body-font-family;
		font-size: 3rem;
	}
	h4 {
		color: $white;
		font-family: 'Signika', $body-font-family;;
		font-size: 1rem;
		font-weight: 300;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 4px;
	}
	.button {
		margin: 0;
		margin-top: 2rem;
		border: 2px solid $white;
		color: $white;
		&:hover {
			color: #BADAEF;
			border-color: #BADAEF;
		}
	}
}
.impact-header {
	color: $white;
}



// SECTION Performance
.performance {
	padding: rem-calc(60) 0 1.975rem;
	text-align: center;
	
	.performance-icon {
		background-image: url("../images/demo/ellipse-1.svg");
		background-repeat: no-repeat;
		background-position: top center;
		height: 110px;
		i {
			line-height: 7rem;
			font-size: 3rem;
			color: $main-blue;
		}
	}
	h3 {
		font-size: 2.375rem;
		line-height: 2.375rem;
		margin-bottom: rem-calc(54);
		color: $medium-gray;;
		text-transform: uppercase;
	}
	h5 {
		height: 1rem;
		color: $medium-gray;;
		font-size: 1.438rem;
		font-weight: 400;
		margin: rem-calc(34) 0;
	}
	h3, h5 {
		font-family: 'Vollkorn', $header-font-family;
	}
	p {
		font-family: 'Ubuntu', $body-font-family;
		color: #7b8a97;
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 1.5rem;
	}
	a {
		font-size: 0.875rem;
		line-height: 2.313rem;
		font-weight: 300;
		i {
			font-weight: 400;
		}
	}

}

// SECTION Product Demo
section.product-demo {
	background-color: #f6f8f9;
	box-shadow: 0 0.438rem 0 #ebeef0;
	padding-top: rem-calc(60);

	h3, h4 {
		font-family: 'Vollkorn', $header-font-family;
	}
	h3 {
		color: $medium-gray;;
		font-size: 2.375rem;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	h4 {
		color: map-get($foundation-palette, alert);
		letter-spacing: 2px;
	}
	p {
		// Base text style
		width: 51.5rem;
		height: 3.875rem;
		font-family: 'Ubuntu', $body-font-family;
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 1.5rem;
		color: $light-gray;
		margin-bottom: rem-calc(47);
	}

}

// SECTION Recent Projects
section.recent-projects {
	padding-top: rem-calc(60);
}
.recent-project-info {
	background-image: linear-gradient(242deg, rgba(48, 124, 149, .85), rgba(59, 43, 106, .85)), url("../images/demo/layer-10.jpg");
	padding-top: rem-calc(80);
	.recent-cta {
		color: white;
		h4 {
			font-size: 3rem;
			font-weight: 400;
			line-height: 3.75rem;
			font-family: 'Vollkorn', $header-font-family;
		}
		p {
			font-size: 1.125rem;
			font-weight: 300;
			line-height: 2.125rem;
			font-family: 'Ubuntu', $header-font-family;
		}
		.button {
			font-family: 'Ubuntu', $header-font-family;
			border: 3px solid $white;
			font-size: 1.125rem;
			font-weight: 300;
			line-height: 2rem;
		}
		.button.hollow {
			color: $white;
			margin-right: 1rem;
		}
		.button.filled {
			background-color: $white;
			color: #343b4b;;
		}
	}
	}

// SECTION Work Together
section.work-together {
	background-color: #ff7979;
	padding: rem-calc(52) 0;
	h4 {
		color: white;
		font-family: 'Ubuntu', $header-font-family;
		font-size: 1.313rem;
		font-weight: 400;
		line-height: 1.313rem;
		text-transform: uppercase;
		margin: 0;
	}
}

// SECTION How We Work
// TODO: Add the triangle CSS piece that points from the text to the image. -JMS
section.how-we-work {
	padding: rem-calc(62) 0 rem-calc(62);
	.meet {
		background-color: #f6f8f9;
		@include breakpoint(medium down) {
			text-align: center;
		}
	}
	.meet-text {
		padding: rem-calc(31) rem-calc(21) rem-calc(31) rem-calc(28) !important;
		//padding-right: 20px !important;
		h4 {
			color: $medium-gray;
			font-family: 'Vollkorn', $body-font-family;
			font-size: 1.438rem;
			font-weight: 400;
		}
		p {
			color: $light-gray;
			font-family: 'Ubuntu', $body-font-family;
			font-size: 0.875rem;
			font-weight: 300;
			line-height: 1.5rem;
		}
	}
	.meet-image {
		//padding: 0;

	}
}